name: Deploy docs
on:
  push:
    branches:
      - main
      # TODO: remove beta when branch is merged into main
      - beta
    paths:
      - 'documentation/**'
  workflow_dispatch:

jobs:
  deploy:
    name: Release
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: documentation
    steps:
      - name: Checkout Git repository
        uses: actions/checkout@v2
      - name: Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          password: ${{ secrets.SSH_PASSWORD }}
          envs: GITHUB_SERVER_URL,GITHUB_REPOSITORY
          script: npx nginx-proxy-cli deploy $GITHUB_SERVER_URL/$GITHUB_REPOSITORY --dir=~/nginx-proxy/applications
